// Generic
$primary-color: #e52354;
$alt-color: #ddd;
$dark-color: #101010;
$light-color: #fff;
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: #000;

// Post
$post-text-color: #666;
$post-hover-color: #f7f7f7;

// Animation
$nav-load-time: .3s;
